[submodule "vendor/plugins/chiliproject_project_roles"]
	path = vendor/plugins/chiliproject_project_roles
	url = git://github.com/jnv/chiliproject_project_roles.git
[submodule "vendor/plugins/chiliproject_project_group"]
	path = vendor/plugins/chiliproject_project_group
	url = git://github.com/jnv/chiliproject_project_group.git
[submodule "vendor/plugins/chiliproject_private_issues"]
	path = vendor/plugins/chiliproject_private_issues
	url = git://github.com/jnv/chiliproject_private_issues.git
[submodule "vendor/plugins/chiliproject_private_wiki"]
	path = vendor/plugins/chiliproject_private_wiki
	url = git://github.com/jnv/chiliproject_private_wiki.git
